@import '@/assets/css/base.css';

@font-face {
  font-family: '阿里妈妈刀隶体 Regular';
  font-weight: 200;
  src: url('@/assets/fonts/AlimamaDaoLiTi.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: '阿里妈妈东方大楷 Regular';
  font-weight: 400;
  src: url('@/assets/fonts/Alimama_DongFangDaKai_Regular.woff2') format('woff2'),
    url('@/assets/fonts/Alimama_DongFangDaKai_Regular.woff2') format('woff');
  font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '阿里妈妈数智体 VF Regular';
  src: url('//at.alicdn.com/wf/webfont/lfs8AjgcpXgl/f7DOHU3wtNwU.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/lfs8AjgcpXgl/daSCMerxKX0t.woff') format('woff');
  font-display: swap;
}

/* CDN 服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '阿里巴巴普惠体 2.0 35 Thin';
  font-weight: 250;
  src: url('//at.alicdn.com/wf/webfont/lfs8AjgcpXgl/aOScq1AlrAWq.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/lfs8AjgcpXgl/lZ2Wczbq7Oya.woff') format('woff');
  font-display: swap;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: '阿里妈妈数智体 VF Regular';
  src: url('//at.alicdn.com/wf/webfont/lfs8AjgcpXgl/TRgJt1irGmjy.woff2') format('woff2'),
    url('//at.alicdn.com/wf/webfont/lfs8AjgcpXgl/A4a1LzoYQYrs.woff') format('woff');
  font-display: swap;
}

#app {
  font-weight: normal;
  background-color: rgb(23, 60, 91);
  margin: 0;
  font-weight: normal;
  min-height: 100vh;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

.main {
  overflow: hidden;
  place-items: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  overflow-y: auto;
}

.header {
  position: relative;
  left: -15%;
  width: 130%;
  height: 25%;
  background-position: bottom;
  background-image: url('@/assets/images/bg.png');
  border-radius: 0 0 45% 45%;
  margin-bottom: -15%;
  background-size: cover;
}

.card {
  margin: 1rem;
  background-color: #ececec;
  border-radius: 1rem;
  padding: 1rem;
}

.el-button--primary {
  --el-button-bg-color: rgb(23, 60, 91);
  --el-button-border-color: rgb(23, 60, 91);
}

.el-card {
  margin: 0 1rem 1rem;
  border-radius: 1rem;
  background-color: #ececec;
  -el-card-border-color: #d3d3d3;
}

img {
  object-fit: contain;
}

.el-card__header {
  padding: 10px var(--el-card-padding);
  border-bottom: none;
}

.el-card__header h3 {
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.el-card__body .el-form {
  margin-bottom: -20px;
}

.info-block .el-card__body::before {
  display: block;
  content: '';
  width: 100%;
  background-image: url('@/assets/images/border.png');
  height: 2rem;
  background-position: center;
  object-fit: cover;
  margin-top: -30px;
  background-size: cover;
}

.el-loading-mask {
  background-color: transparent;
}
